<a href="https://colab.research.google.com/github/nagojishravani27/2025-2026-even-AI-B-DS-Nagoji-Shravani_4116/blob/main/Missing_Values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### *17.Write the python code to perform the following operations to clean the data a.Missing values b.Sum of missing values c.Replace with Mean of the colunm*

In [4]:
import pandas as pd
# Creating a sample dataset with missing values
data = {
    'Name': ['srvani', 'amulya', 'Charlie', 'David', 'yashu'],
    'Age': [25, None, 35, 40, 28],  # Bob has missing age
    'Salary': [50000, 60000, None, 70000, 62000],  # Charlie has missing salary
    'Allowances': [2000, None, 2000, 2000, 2500]  # amulya has missing allowance
}
df = pd.DataFrame(data)
# 1. Checking for missing values in each column
print("Missing Values Count:\n", df.isnull().sum())
# 2. Dropping rows with any missing values
df_cleaned = df.dropna()
print("\nDataFrame after dropping missing values:\n", df_cleaned)
# 3. Filling missing values with specific values
df_filled = df.fillna({'Age': df['Age'].mean(), 'Salary': df['Salary'].mean(), 'Allowances': 2000})
print("\nDataFrame after filling missing values:\n", df_filled)

Missing Values Count:
 Name          0
Age           1
Salary        1
Allowances    1
dtype: int64

DataFrame after dropping missing values:
      Name   Age   Salary  Allowances
0  srvani  25.0  50000.0      2000.0
3   David  40.0  70000.0      2000.0
4   yashu  28.0  62000.0      2500.0

DataFrame after filling missing values:
       Name   Age   Salary  Allowances
0   srvani  25.0  50000.0      2000.0
1   amulya  32.0  60000.0      2000.0
2  Charlie  35.0  60500.0      2000.0
3    David  40.0  70000.0      2000.0
4    yashu  28.0  62000.0      2500.0