<a href="https://colab.research.google.com/github/nagojishravani27/2025-2026-even-AI-B-DS-Nagoji-Shravani_4116/blob/main/plotting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

# Creating data
data = {
    "ID": [101, 102, 103, 104, 105],
    "Name": ["sravani", "ammulya", "yashu", "David", "charan"],
    "Age": [22, 25, 23, 24, 26],
    "Marks": [85, 78, 92, 88, 90]
}

# Creating DataFrame
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

# Students with marks > 85
print("\nStudents with marks > 85:")
print(df[df["Marks"] > 85])

# Students with age < 25
print("\nStudents with age < 25:")
print(df[df["Age"] < 25])

# Students with age > 23 AND marks >= 88
print("\nStudents with age > 23 and marks >= 88:")
print(df[(df["Age"] > 23) & (df["Marks"] >= 88)])

# Students with marks > 90 OR age < 23
print("\nStudents with marks > 90 or age < 23:")
print(df[(df["Marks"] > 90) | (df["Age"] < 23)])

Original DataFrame:
    ID     Name  Age  Marks
0  101  sravani   22     85
1  102  ammulya   25     78
2  103    yashu   23     92
3  104    David   24     88
4  105   charan   26     90

Students with marks > 85:
    ID    Name  Age  Marks
2  103   yashu   23     92
3  104   David   24     88
4  105  charan   26     90

Students with age < 25:
    ID     Name  Age  Marks
0  101  sravani   22     85
2  103    yashu   23     92
3  104    David   24     88

Students with age > 23 and marks >= 88:
    ID    Name  Age  Marks
3  104   David   24     88
4  105  charan   26     90

Students with marks > 90 or age < 23:
    ID     Name  Age  Marks
0  101  sravani   22     85
2  103    yashu   23     92