<a href="https://colab.research.google.com/github/nagojishravani27/2025-2026-even-AI-B-DS-Nagoji-Shravani_4116/blob/main/SQlite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DATE:24-02-26               Week-4**

## 16.write a python code to perform the following database operations using SQlite(CRUD Operation)

In [2]:
import sqlite3

# Connect to database
conn = sqlite3.connect("test.db")
cursor = conn.cursor()

# CREATE TABLE
cursor.execute("""
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER
)
""")

# CREATE (Insert)
cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ("Alice", 25))
conn.commit()

# READ
cursor.execute("SELECT * FROM users")
print("After Insert:", cursor.fetchall())

# UPDATE
cursor.execute("UPDATE users SET age = ? WHERE name = ?", (26, "Alice"))
conn.commit()

cursor.execute("SELECT * FROM users")
print("After Update:", cursor.fetchall())

# DELETE
cursor.execute("DELETE FROM users WHERE name = ?", ("Alice",))
conn.commit()

cursor.execute("SELECT * FROM users")
print("After Delete:", cursor.fetchall())

conn.close()

After Insert: [(1, 'Alice', 25)]
After Update: [(1, 'Alice', 26)]
After Delete: []